@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
body{
    font-family:Source Sans Pro;
    background-color: #eee;
}
nav{
    position: sticky;
    top: 0;
    background-color: #fcfcfc;
}

nav ul{
    color: #777;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    text-align: center;
    border-style: solid none solid none;
    border-width: 2px;
}

nav a{
    text-decoration: none;
    background-color: transparent;
    color: #777;
}

nav a:hover{
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

li{
    display: inline;
    padding: 1%;
    font-size: larger;
}

h1{
    font-family: Abril Fatface;
    text-align: center;
}

h2{
    font-family: Roboto Slab;
    padding-left: 1em;
}

h5{
    color: #dd3232;
    padding-left: 2em;
}

p{
    text-align: justify;
}

main img{
    width: 96%;
    height: auto;
    padding-left:1em;
    padding-right: 1em;
}

main p{
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    margin:2%;
    text-align: justify;
}

.date{
    padding: 1em;
    font-weight: bold;
}
.newspaper-container{
    background: white;
    box-shadow: #ddd;
    width: 90%;
    margin: 0 auto;
    border-radius: 5%;
}

.more-articles{
    display: grid;
    text-align: center;
}

.more-articles img{
    width: 90%;
}

.more-articles p{
    width: 88%;
    padding-left: 1em;
}
.grid-item1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.grid-item2{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.grid-item3{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
}
.grid-item4{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
}
.grid-item5{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 9;
}
.grid-item5 img{
    height: 25%;
}

.foot-tag{
    background-color: transparent;
    font-size: 10px;
}
.foot-tag ul{
    border-style: none none none none;
}
